// ==========================================================================
// Page layouts
// ==========================================================================
.splash-bg {
  background: $centuria-haze;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.splash-logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#manage-dropdown{
  max-height: 0;            
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
#manage-stuff:hover div#manage-dropdown{max-height: 240px ;}

.active {
  background: rgba(255, 255, 255, 0.1);
  border-left: 3px solid $orange;
  padding: rem(15px) 0 rem(15px) rem(20px);
  width: 100%;
  
  a {
    color: $white;
    margin: 0;
    
  }
}


.user--nav {
  margin: rem(38px) 0 0 0;
  padding: 0;
}

.user--nav__item {
  display: inline;
  margin: 0;
  padding: 0;
  
  a {
    color: $purple-blue;
  }
  
  &:first-child {
    margin-right: rem(20px);
  }
}


// Login styles
.logo-login {
  margin-top: rem(48px);
  
  
  img {
    display: block;
    width: auto;
    margin: 0 auto rem(24px) auto;
  }
}

.headline-login {
  font-family: $font-family--primary;
  font-size: rem(24px);
  font-weight: $font-weight--light;
  text-align: center;
  margin-bottom: rem(24px);
}

.lost-password {
  width: 28%;
  
  
  a {
    font-family: Lato-Regular;
    font-size: $base__font-size;
    color: $centuria;
    letter-spacing: rem(0.4px);
    line-height: rem(19px);
    
    &:hover {
      opacity: 0.8;
    }
  }
}

.right {
 float: right;
}
















